/*FOR SMARTPHONES*/
@media only screen and (min-width:150px) and (max-width:600px) {
    /*HEADER*/
    header {background: none}
    #top-header {width: 96%; padding: 13px 2%; background: linear-gradient(to top, #353535, #777); background: -moz-linear-gradient(to top, #353535, #777); background: -ms-linear-gradient(to top, #353535, #777)}
    #top-header p {display: none}
    /*END HEADER*/

    /*MENU*/
    nav ul {width: 96%; padding: 0 2%}
    nav ul li {float:none}
    nav ul li a {display:block; text-align:center; height:10px; line-height: 8px}
    nav ul li a:hover, nav.category .categories, nav.user .users, nav.complaint .complaints, nav.home .home, nav.about .about {background:#AAA; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px}
    /*END MENU*/

    /*FLASH MESSAGES*/
    .message {width:96%; padding:.2% 2%; line-height: 25px;  margin:0 auto 1.4%;}
    .message p {line-height: 27px}
    .message .close-message {display:block}
    /*END FLASH MESSAGES*/

    /*CONTENT*/
    #main-content {width: 96%}
    #content {min-height: initial}
    #content article {padding: 4%}
    #content article p {text-align: justify}
    #content article footer {margin: 4% 0}

    div#modal {width:96%; left:2%}

    .images {float: none; width: 90%; margin-bottom: 4%}

    div.button {float: none; margin: 20px 0}

    #form>div input,#form>div textarea {width: 90%}
    #form>div {margin-bottom: 4%}
    #form select {min-width: 40%}
    #form label {float: none; display: block; text-align: left; padding: 0px}

    #basic-list {margin:8% auto;}
    #basic-list ul li {float:none; width:100%; margin:4% 0}
    #basic-list .display-item img {width:60px}

    #content .paginator p.pagination-info {margin-top:4%}

    #user-view {margin:4% auto}
    #user-view .user-image, #user-view .information {float:none}
    #user-view .information {margin:4% 0 0 0}

    .crop {height:300px}
    /*END CONTENT*/

    /*FOOTER*/
    body>footer div {width: 96%; padding: 0 2%}
    body>footer div p {width: 60%}
    /*END FOOTER*/
}

/*FOR TABLETS*/
@media only screen and (min-width:600px) and (max-width:1000px) {
    #top-header,#main-content,nav ul, .message, body>footer div, div#modal {width: 90%}
    div#modal {left:5%}
    #form>div input,#form>div textarea {width: 50%}

    #basic-list {margin:2% auto;}
    #basic-list ul li {width:45%; margin:1% 2.5%}
    #basic-list .display-item img {width:60px;}
    #basic-list .display-item a {font-size:.9em;}
}

/*FOR HIGHER RESOLUTIONS*/
@media only screen and (min-width:1600px) {
    #top-header,#main-content, nav ul, .message, body>footer div, div#modal {width: 55%}
    div#modal {left:22.5%}
}