@CHARSET "utf-8";

body {width: 100%; font-size: 86.7%; clear: both; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; background: #DDD}

/*HEADER*/
header {width: 100%; margin: 0 auto; background: linear-gradient(to top, #353535, #777); background: -moz-linear-gradient(to top, #353535, #777); background: -ms-linear-gradient(to top, #353535, #777)}
#top-header {width: 70%; margin: 0 auto; color: #FFF; padding: 13px 0}
#top-header h1 {font-size: 1.5em; color: #fab357; font-weight: bold; margin-bottom: 5px; text-shadow: 1px 1px 2px #222}
#top-header p {font-size: 0.9em; color: #fab357; float: right; font-weight: bold; width: 200px; text-align: right; line-height: 15px}

	/*PANNEL*/
	#panel {float:right; text-align:right}
	#panel h1 {font-size:1em; margin-bottom:10px; display:block; color:#DDD;}
    #panel h1.admin {color:#e6d28c; padding-right:25px; background:url('../img/bsk.png') no-repeat right center; line-height:30px; height:30px}
	#panel a {background:#AAA; display:inline-block; text-decoration:none; font-size:.9em; padding:5px; color:#FFF; border-radius:4px}
	#panel a:hover {background:#888}
	/*END PANEL*/

	/*MENU*/
	nav {width: 100%; background: #595959; overflow: auto; border-top: solid 2px #444; margin-bottom: 1.5%}
	nav ul {width: 70%; margin: 0 auto}
	nav ul li {float: left; display: block}
	nav ul li a {display: inline-block; height: 20px; padding: 10px 25px; text-decoration: none; font-size: 0.95em; border-top:solid 2px #595959}
	nav>ul>li>a,nav>ul>li>a:hover,nav>ul>li>a:link,nav>ul>li>a:visited,nav>ul>li>a:active {color: #FFF}

	nav ul li a:hover, nav.category .categories, nav.user .users, nav.complaint .complaints, nav.home .home, nav.about .about {border-top-color:#AAA}
	/*END MENU*/
/*END HEADER*/

/*FLASH MESSAGES*/
.message {width:70%; margin:0 auto .7%; padding:.2% .5%; overflow:auto; vertical-align:center; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; box-sizing:border-box; position:relative }
.message span {float:left; height:31px; width:31px; margin-right:5px}
.message p {line-height:35px; font-size:1.1em}
.message .close-message {position:absolute; top:0; right:0; border-radius:4px; border:none; color:#FFF; cursor:pointer; outline:none; display:none}

.success {background:#adf2a2; color:#389645; border:solid 1px #77cd69}
.success span {background:url('../img/message-icons.png') no-repeat left center}
.success .close-message {background:#77cd69}

.error {background:#fed2d3; color:#8a1724; border:solid 1px #d8929c}
.error span {background:url('../img/message-icons.png') no-repeat right center}
.error .close-message {background:#d8929c}

.warning {background:#fefccb; color:#88892c; border:solid 1px #c3c94f}
.warning span {background:url('../img/message-icons.png') no-repeat center center}
.warning .close-message {background:#c3c94f}
/*FLASH MESSAGES*/

/*CONTENT*/
	#main-content {width: 70%; margin: 0 auto}
	#content {width: 100%; float: left; min-height: 700px; background: #FFF; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; box-shadow: 2px 3px 3px #AAA}
	#content article {padding: 2.3%; overflow: auto}
	#content article h1 {font-size: 1.2em; color: #f29113; text-transform: uppercase; font-weight: bold}
	#content article footer {font-size: 0.9em; margin: 2% 0; font-style: italic}
	#content article p {line-height: 25px; font-size: 0.98em; color: #444}

	/*HOME*/
	.images {float: left; width: 30%}
	.images span {display: block; margin-top: 10px; color: #888; text-transform: uppercase; font-weight: bold}
	.images div {margin-right: 5%; background: #F1F1F1}
	.images img {width: 90%; height: auto; margin: 0 1.5%; opacity: 0.77}
	/*END HOME*/

	div.button {text-align:right}
	div.button * {padding: 7px 20px; color: #FFF; text-decoration: none; font-weight: bold; background: #fab357; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 0.9em; border:none; cursor:pointer; display:inline-block}
	div.button *:hover {background: #FCCB8C}

	textarea {resize: none; font-size: 86.7%; font-family: Helvetica Neue, Helvetica, Arial, sans-serif}

	/*FORMS*/
	#form {width: 100%; margin-top: 3%}
	#form label {float: left; width: 30%; text-align: right; padding: 3px 10px 0; text-transform: uppercase; font-size: 0.9em; color: #888; font-weight: bold; line-height:25px}
	/*#form label:after {content: "*"; font-size: 18px; margin-left: 3px; color: #FE0000}*/
	#form>div {margin: 2% 0}
	#form>div input,#form>div textarea {width: 45%; padding: 2px}
	#form>div input {height: 25px}
	#form>div select {width: 25%; height: 25px}
	#form>div textarea {height: 100px}
	/*END FORMS*/

	div.interval {width: 96%; border-top: dotted 1px #BBB; height: 2px; margin: 1.1% auto; clear: both}
    div.clear {clear:both}

    /*USERS LIST*/
    #user-list {margin:2% auto;}
    #user-list ul li {width:30%; float:left; margin:1% 1.6%}
    #user-list .display-user {border:solid 1px #CCC; float:left; width:100%; background:#FBFBFB; border-radius:7px; box-sizing:border-box; padding:3px}
    #user-list .display-user img {width:70px; border: solid 1px #BBB; float:left}
    #user-list .display-user .details {width:55%; float:left; margin-left:5px}
    #user-list .display-user a {display:block; color:#888; font-weight:bold; text-decoration:none}
    #user-list .display-user a:hover {text-decoration:underline}
    #user-list .display-user footer {font-size: .8em; margin:4% 0}
	/*END USERS LIST*/

    /*VIEW USER*/
    #user-view {margin:2% auto}
    #user-view .user-image img {border:solid 1px #BBB}
    #user-view .user-image, #user-view .information {float:left}
    #user-view .information {margin-left:10px}
    #user-view .information h1 {color:#888}
    #user-view .information div {margin:3% 0; font-style:italic}
    #user-view .information label {font-weight:bold}
    #user-view #update-image {text-decoration:none; color:#555; font-size:.9em; display:block; text-align:center}
    #user-view #update-image:hover {text-decoration:underline}
    /*END VIEW USER*/

/*END CONTENT*/

/*FOOTER*/
body>footer {width: 100%; height: 80px; background: linear-gradient(to bottom, #353535, #777); float: left; margin-top: 1.5%; border-top: solid 2px #2A2A2A; padding-top: 12px}
body>footer div {width: 70%; margin: 0 auto}
body>footer div h1 {color: #8b8b8b; text-transform: uppercase; font-weight: bold; margin-bottom: 6px}
body>footer div p {color: #8b8b8b; font-size: 0.9em; font-weight: bold; float: right; text-align: right; line-height: 15px}
/*END FOOTER*/

/*FOR SMARTPHONES*/
@media only screen and (min-width:150px) and (max-width:600px) {
	/*HEADER*/
	header {background: none}
	#top-header {width: 96%; padding: 13px 2%; background: linear-gradient(to top, #353535, #777); background: -moz-linear-gradient(to top, #353535, #777); background: -ms-linear-gradient(to top, #353535, #777)}
	#top-header p {display: none}
	/*END HEADER*/

	/*MENU*/
	nav ul {width: 96%; padding: 0 2%}
	nav ul li {float:none}
	nav ul li a {display:block; text-align:center; height:10px; line-height: 8px}
    nav ul li a:hover, nav.category .categories, nav.user .users, nav.complaint .complaints, nav.home .home, nav.about .about {background:#AAA; border-radius:4px; -moz-border-radius: 4px; -webkit-border-radius: 4px}
	/*END MENU*/

    /*FLASH MESSAGES*/
    .message {width:96%; padding:.2% 2%; line-height: 25px;  margin:0 auto 1.4%;}
    .message p {line-height: 27px}
    .message .close-message {display:block}
    /*END FLASH MESSAGES*/

	/*CONTENT*/
	#main-content {width: 96%}
    #content {min-height: initial}
	#content article {padding: 4%}
	#content article p {text-align: justify}
	#content article footer {margin: 4% 0}

	.images {float: none; width: 90%; margin-bottom: 4%}

	div.button {float: none; margin: 20px 0}

	#form>div input,#form>div textarea {width: 90%}
	#form>div {margin-bottom: 4%}
	#form select {min-width: 40%}
	#form label {float: none; display: block; text-align: left; padding: 0px}

    #user-list {margin:8% auto;}
    #user-list ul li {float:none; overflow:auto; width:100%; margin:4% 0}
    #user-list .display-user img {width:60px}
    #user-list .display-user .details {width:70%}

    #user-view {margin:4% auto}
    #user-view .user-image, #user-view .information {float:none}
    #user-view .information {margin:4% 0 0 0}
	/*END CONTENT*/

	/*FOOTER*/
    body>footer div {width: 96%; padding: 0 2%}
    body>footer div p {width: 60%}
    /*END FOOTER*/
}

/*FOR TABLETS*/
@media only screen and (min-width:600px) and (max-width:1000px) {
	#top-header,#main-content,nav ul, .message, body>footer div {width: 90%}
    div.button {margin-bottom: 3%}
	#form>div input,#form>div textarea {width: 50%}

	#user-list {margin:2% auto;}
    #user-list ul li {width:45%; margin:1% 2.5%}
    #user-list .display-user img {width:50px;}
    #user-list .display-user .details {width:70%;}
    #user-list .display-user a {font-size:.9em;}
}

/*FOR HIGHER RESOLUTIONS*/
@media only screen and (min-width:1600px) {
	#top-header,#main-content, nav ul, .message, body>footer div {width: 55%}
}